@model GoodListViewModel

@{
    string availability = @Model.CurrentGood.Availible ? "Availible" : "Disavailible";
}

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.CurrentGood.Image" alt="@Model.CurrentGood.Name" />
    <h2>@Model.CurrentGood.Name</h2>
    <p>Price: @Model.CurrentGood.Price.ToString("c")</p>
    <p>@Model.CurrentGood.LongDescription</p>
    @Html.Raw(availability)
    <p><a class="btn btn-warning" href="#">Buy</a></p>
    
    Like/Dislike
</div>